<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.1/css/bootstrap.min.css" integrity="sha384-VCmXjywReHh4PwowAiWNagnWcLhlEJLA5buUprzK8rxFgeH0kww/aWY76TfkUoSX" crossorigin="anonymous">
    <title>The whole Course List</title>
</head>
<body>
<div class="container">
    <h3>Course Directory</h3>

    <hr>
    <!-- only administrator can add a new course -->
    <a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/courses/showFormForAdd}" class="btn btn-primary btn-sm mb-3">Add Course</a>


<!--    table of courses-->
    <table class="table table-bordered table-striped">
        <thead class="thead-dark">
        <tr>
            <th>Title</th>
            <th>Action</th>
        </tr>

        </thead>

        <tbody>
        <tr th:each="tempCourse : ${courses}">
            <td th:text="${tempCourse.title}"/>
            <td>

                <span sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_INSTRUCTOR')">
                <a th:href="@{/courses/details(courseId=${tempCourse.id})}"
                   class="btn btn-info btn-sm">
                    Details
                </a>
                </span>


                <!-- Add "delete" button/link only visible to administrators -->
                <span sec:authorize="hasRole('ROLE_ADMIN')">
                <a th:href="@{/courses/delete(courseId=${tempCourse.id})}"
                   class="btn btn-danger btn-sm"
                   onclick="if (!(confirm('Are you sure you want to delete this course?'))) return false">
                    Delete
                </a>
                </span>

                <span sec:authorize="hasRole('ROLE_STUDENT')">
                    <a th:href="@{/courses/enroll(courseId=${tempCourse.id})}"
                       class="btn btn-info btn-sm">

                        Enroll/Details

                    </a>

                </span>





            </td>






        </tr>






    </table>

    <a th:href="@{/}">Back to Home</a>
</div>
</body>
</html>