<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.1/css/bootstrap.min.css" integrity="sha384-VCmXjywReHh4PwowAiWNagnWcLhlEJLA5buUprzK8rxFgeH0kww/aWY76TfkUoSX" crossorigin="anonymous">
    <title>The whole Course List</title>
</head>
<body>
<div class="container">
    <h3>My Courses</h3>

    <hr>

<!--    courses that the student has enrolled in-->
    <table class="table table-bordered table-striped">
        <thead class="thead-dark">
        <tr>
            <th>Title</th>
            <th>Seats</th>
            <th>Instructor</th>
            <th>Action</th>
        </tr>

        </thead>

        <tbody>
        <tr th:each="tempBlock : ${blocks}">
            <td th:text="${tempBlock.getCourse().getTitle()}"/>
            <td th:text="${tempBlock.getStudents().size() + '/' + tempBlock.getSeats()}">
            <td th:text="${tempBlock.instructor != null} ? ${tempBlock.instructor.firstName + ' ' + tempBlock.instructor.lastName}"/>

            <td><a th:href="@{/studentCourses/unenroll(blockId=${tempBlock.id})}" class="btn btn-danger btn-sm"
                   onclick="if (!(confirm('Are you sure you want to unenroll from this block?'))) return false">Unenroll</a> </td>






        </tr>






    </table>

    <a th:href="@{/}">Back to Home</a>
</div>
</body>
</html>